/* 
* {
  font-family: 'Roboto', sans-serif;
  
} */
body{
  background-color: rgb(245, 245, 245);
  font-family: 'VT323';
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* LOGIN FORM  */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
form button {
    background-color: transparent;
    color: #76b8ce;
    font-weight: 800;
    box-shadow: none;
    border: none;
    outline:none;
}
form button:focus{
    outline:none;
}
input {
  padding: 1rem;
  border: 0.2px solid grey;
  border-radius: 5px;
  font-family: monospace;
  width: 50%;
  margin: 0.5rem;
}
#submit {
  background-color: #a452f5;
}
ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.enabled {
   
    box-shadow: 5px 5px;
    transition:0.4s
}
.enabled:hover {
    box-shadow: none;
    transform: translateY(2px)
}

/* NAVBAR STUFF */

div.main-header-lr > h1 {
  display: flex;
  align-items: center;
  text-align: center;
}

.navbarBtn {
  padding: auto;
  border: 0.2px solid grey;
  border-radius: 5px;
  margin: 0.5rem;
  background-color: #a452f5;
  color:rgb(220, 233, 233);
  height: 30px;
  transition: 0.4s;
}

.navbarBtn:hover {
  background-color:  #dd98e6 ;
}

#backButton {
  color: transparent;
  background-color: transparent;
  border: transparent;
  width: 90px;
  
}




/* main menu */
.mainMenuBtnHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  
}

.signout {
  margin-top: -100px;
}

.mainMenuBtns {
  padding: 1rem;
  border: 0.2px solid grey;
  border-radius: 5px;
  font-family: monospace;
  width: 400px;
  margin: 0.5rem;
  margin-top: 20%;
  box-shadow:0px 4px 4px 0px rgba(134, 132, 127,0.7)
}

.top-button {
  margin-top: 0cm;
}

.mainMenuBtnd {
  width: 100%;
}

.title {
  text-align: center;
  font-family: 'VT323';
  font-size: 125px;
  margin: auto;
}

.heading {
  margin-top: 150px;
  text-align: center;
  font-family: 'VT323';
  font-size: 100px;
}

.user {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 100px;
}

/* create game lobby */

select { 
  width: 200px
}

.create {
  margin-top: 100px;
}

.submit-form {
  margin-top: 50px;
}

/* Waiting Room  */

.waiting-button {
  padding: 1rem;
  border: 0.2px solid grey;
  border-radius: 5px;
  margin: 0.5rem;
  background-color: #a452f5;
  color:rgb(220, 233, 233);
}

.room-name {
  margin-top: 3rem;
}

.username-heading {
  font-size: 70px;
}

.username {
  font-size: 25px;
}

.user-container {
  border: 1px solid black;
  border-radius: 5px;
  padding:0.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 250px;
  margin-top: 2rem;
  background-color: rgb(247, 247, 247);
  box-shadow:0px 4px 4px 0px rgba(134, 132, 127,0.7) ;
}

.waiting {

  align-items: center;
}

.waiting-message {
  margin-top: 10px;
}

/* Main Game */

.qandtimer {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

#timer {
  justify-self: flex-end;
}


.answer {
  height: 80px;
  border-radius: 5px;
  font-family: 'roboto', sans-serif;
  
  
}

#question {
  text-align: center;
  margin-top: 3rem;
  font-family: 'roboto', sans-serif;

}

.bg-wrong {
  background-color: rgb(245, 56, 23);
}

.bg-correct {
  background-color: rgb(50, 180, 46);
}

.timer {
  margin-top: 1.25rem;
}

/* leaderboards */
.leaderboard {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.pleaderboard {
  width: 80%;
  background-color: #dd98e6;
  border-radius: 10px;
  box-shadow:0px 4px 4px 0px rgba(134, 132, 127,0.7) ;
  border: transparent;
  font-family: 'roboto', sans-serif;
  
}

.showResults {
  width: 300px;
  font-size: 30px;
  background-color: #8d48d1;
  border: transparent;
  box-shadow:0px 4px 4px 0px rgba(134, 132, 127,0.7) ;
  transition: 0.2s;
}

.showResults:hover{
  transform: translateY(5px);
  box-shadow:none;
}



@media only screen  and (max-width: 450px) {
  .mainMenuBtns {
    width: 300px;
  }
  .modal {
    width: 300px;
    margin-left: 38px;

  }

  .title {
    font-size: 80px ;
  }

  .signout {
    margin-top: 4px;
  }

  .main-header {
    flex-direction: column;
  }

  .username-heading {
      margin-top: 5px;
      font-size: 40px;
  }

  .mainMenuBtns {
    margin-top: 15%;
  }

  .top-button {
    margin-top: 1rem;
  }

}

@media only screen and (max-width: 373px) {
  .mainMenuBtns {
  
    margin-top: 10%;
  }

  .top-button {
    margin-top: -15px;
  }

  .username-heading {
    font-size: 30px;
    margin-top: 0px;
  }
}